<h2><%= @user.username %>'s Garages</h2>
<br>
<h5>Click <a href '/garages/new'>HERE</a> to create a new garage</h4>
<br>
<h5>To look at a garage, click on the name!</h5>
<% @garages.each do |garage| %>
  <h4>Name: <a href="/garages/<% #{garage.id} %>"><%= garage.name %></a></h4>
  <p>Location: <%= garage.address %></p>
  <p>Capacity: <%= garage.capacity %></p>
<% end %>
