<h2>Create a new Garage!</h2>
<br>
<form action="/garages" method="POST">
  <label for="name">Name: </label>
  <input id="name" type="text" name="name" required>
  <label for="location">Location: </label>
  <input id="location" type="text" name="address" required>
  <label for="capacity">Capacity: </label>
  <input id="capacity" type="number" name="capacity" required>

  <input id="submit" type="submit" value="Create Garage">
</form>
