<h2>Create a new Car!</h2>
<br>
<form action="/cars" method="POST">
  <label for="year">Year: </label>
  <input id="year" type="text" name="year"><br>
  <label for="make">Make: </label>
  <input id="make" type="text" name="make"><br>
  <label for="model">Model: </label>
  <input id="model" type="text" name="model"><br>
  <label for="price">Price: </label>
  <input id="price" type="text" name="price"><br>
  <label for="license_plate">License Plate: </label>
  <input id="license_plate" type="text" name="license_plate"><br>
<br><p>Select a type of car: </p>
  <label for="suv">SUV</label>
  <input id="suv" type="radio" name="type" value="suv"><br>
  <label for="truck">Truck</label>
  <input id="truck" type="radio" name="type" value="truck"><br>
  <label for="sedan">Sedan</label>
  <input id="sedan" type="radio" name="type" value="sedan"><br>
  <label for="coupe">Coupe</label>
  <input id="coupe" type="radio" name="type" value="coupe"><br>
  <label for="wagon">Wagon</label>
  <input id="wagon" type="radio" name="type" value="wagon"><br>
  <label for="crossover">Crossover</label>
  <input id="crossover" type="radio" name="type" value="crossover"><br>


  <input id="submit" type="submit" value="Create Car">
</form>
