<h2>Create a new Car!</h2>
<br>
<form action="/cars" method="POST">
  <label for="year">Year: </label>
  <input id="year" type="text" name="year">
  <label for="make">Make: </label>
  <input id="make" type="text" name="make">
  <label for="model">Model: </label>
  <input id="model" type="text" name="model">
  <label for="price">Price: </label>
  <input id="price" type="text" name="price">
  <label for="license_plate">License Plate: </label>
  <input id="license_plate" type="text" name="license_plate">


  <label for="suv">SUV</label>
  <input id="suv" type="radio" name="type" value="suv">
  <label for="truck">Truck</label>
  <input id="truck" type="radio" name="type" value="truck">
  <label for="sedan">Sedan</label>
  <input id="sedan" type="radio" name="type" value="sedan">
  <label for="coupe">Coupe</label>
  <input id="coupe" type="radio" name="type" value="coupe">
  <label for="wagon">Wagon</label>
  <input id="wagon" type="radio" name="type" value="wagon">
  <label for="crossover">Crossover</label>
  <input id="crossover" type="radio" name="type" value="crossover">


  <input id="submit" type="submit" value="Create Car">
</form>
