<h2>Welcome, <%= @user.username %>!</h2>

<br>

<h5><a href='/logout'>Log Out</a></h5>

<br>

<h3>Click <a href='/garages'>HERE</a> to view your garages!</h3>

<br>

<h3>Click <a href='/cars'>HERE</a> to view all of your cars!</h3>
