<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Garage Manager</h2>

    <div class="content">
      <p>Welcome to the Garage Manager Sinatra App! Using this app you will be able to create and keep records of
      your collection of cars and their respective garages. Log in or sign up to get started!</p>
    </div>

    <div class="sidebar">
      <h3>Log In</h3>
      <form id="login" action='/login' method='POST'>
        <label for="username">Username: </label>
        <input id="username" type="text" name="username"><br>
        <label for="password">Password: </label>
        <input id="password" type="password" name="password"><br>

        <input type="submit" value="Log In">
      </form>
      <br>
      <p>Don't have an account? <a href='/signup'>Register Here</a>
    </div>

  </div>
</div>
